<h1><%= @machine.location %> Vending Machine</h1>
<p>Snacks:</p>
<% @snacks.each do |snack| %>
  <p><%= snack.name %>: $<%= snack.price %></p>
<% end %>
<% if @snacks.count > 0 %>
<p>Average price: $<%= @machine.average_price %>
<% end %>
